div[class^=socializeme] {
    margin: 5px; height:62px; float:left; display:block;
}
div[class^=socializeme-r], div[class^=socializeme-small-r]{
    float:right !important;
}
div.socializeme-l-v > div, div.socializeme-r-v > div{
    display:block; 
}
div.socializeme-r, div.socializeme-small-r {
    float:right;
}
div.socializeme-r, div.socializeme-small-r {
    float:right;
}
div.socializeme-r-v , div.socializeme-l-v{
    height:200px;
}
div[class^=socializeme] > div{
    margin: 5px; float:none;
}
div[class^=socializeme] iframe{
    height:62px; width: 55px; overflow: hidden;
}